<div class="checkout-container">
    <mat-card>
        <mat-card-content>
            <mat-horizontal-stepper [linear]="true" #stepper>
                <mat-step [stepControl]="step1.cartFormGroup">
                    <ng-template matStepLabel>Warenkorb</ng-template>
                    
                    <app-shopping-cart #step1 [stepper]="stepper"></app-shopping-cart>
                </mat-step>
                <mat-step [stepControl]="step2.billingAddressFormGroup">
                    <ng-template matStepLabel>Rechnungsadresse</ng-template>
                    
                    <app-billing-address #step2 [stepper]="stepper" (submitted)="onBillingAddressSubmit($event)"></app-billing-address>
                </mat-step>
                <mat-step [stepControl]="step3.shippingDataFormGroup">
                    <ng-template matStepLabel>Lieferdaten</ng-template>
                    
                    <app-shipping-data #step3 [stepper]="stepper" [billingAddressData]="checkoutData.billingAddress" (submitted)="onShippingDataSubmit($event)"></app-shipping-data>
                </mat-step>
                <mat-step [stepControl]="step4.paymentDataFormGroup">
                    <ng-template matStepLabel>Zahlungsdaten</ng-template>
                    
                    <app-payment-data #step4 [stepper]="stepper" (submitted)="onPaymentDataSubmit($event)"></app-payment-data>
                </mat-step>
                <mat-step [stepControl]="step5.finalizeCheckoutFormGroup">
                    <ng-template matStepLabel>Bestellung abschließen</ng-template>
                    
                    <app-finalize-checkout #step5 [stepper]="stepper" [checkoutData]="checkoutData"></app-finalize-checkout>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
        <mat-card-footer>
            <div class="licenseStuff">
                <span>2021, Mustermann GmbH & Co. KG (fiktiv), 44141 Dortmund</span>
                <span>Bilder sind unter der <a href="https://pixabay.com/service/license/">Pixabay Lizenz</a> lizensiert.</span>
            </div>
        </mat-card-footer>
    </mat-card>
</div>