<div class="checkout-container">
    <mat-card>
        <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="cartFormGroup">
                <form [formGroup]="cartFormGroup" class="stepContent">
                    <ng-template matStepLabel>Warenkorb</ng-template>

                    <div>
                        <app-shopping-cart></app-shopping-cart>
                    </div>

                    <div>
                        <button mat-raised-button matStepperNext color="primary">Weiter</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="billingAddressFormGroup">
                <form [formGroup]="billingAddressFormGroup" class="stepContent">
                    <ng-template matStepLabel>Rechnungsadresse</ng-template>

                    <div>
                        <button mat-raised-button matStepperPrevious color="accent">Zurück</button>
                        <button mat-raised-button matStepperNext color="primary">Weiter</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="shippingDataFormGroup">
                <form [formGroup]="shippingDataFormGroup" class="stepContent">
                    <ng-template matStepLabel>Lieferdaten</ng-template>

                    <div>
                        <button mat-raised-button matStepperPrevious color="accent">Zurück</button>
                        <button mat-raised-button matStepperNext color="primary">Weiter</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="paymentFormGroup">
                <form [formGroup]="paymentFormGroup" class="stepContent">
                    <ng-template matStepLabel>Zahlungsdaten</ng-template>

                    <div>
                        <button mat-raised-button matStepperPrevious color="accent">Zurück</button>
                        <button mat-raised-button matStepperNext color="primary">Weiter</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="finalizeFormGroup">
                <form [formGroup]="finalizeFormGroup" class="stepContent">
                    <ng-template matStepLabel>Bestellung abschließen</ng-template>

                    <div>
                        <button mat-raised-button matStepperNext color="primary">Kostenpflichtig bestellen</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</div>