<form [formGroup]="shippingDataFormGroup" class="stepContent" novalidate>
    <mat-card class="shipping-data-card">
        <mat-card-header>
            <mat-card-title>Lieferdaten</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <div class="col">
                    <form [formGroup]="useBillingAddressFormGroup" novalidate>
                        <mat-checkbox #useBillingAddress formControlName="useBillingAddress"
                            name="shippingDataUseBillingAddress" color="primary">Gleiche
                            Lieferadresse wie Rechnungsadresse</mat-checkbox>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="spacer">
                </div>
            </div>
            <div class="formContainer" [class.inactive]="useBillingAddress.checked">
                <div class="row">
                    <div class="col-3">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Anrede" formControlName="salutation"
                                name="shippingDataSalutation" [readonly]="useBillingAddress.checked">
                            <mat-error *ngIf="shippingDataFormGroup.controls['salutation'].hasError('required')">
                                Anrede wird <strong>benötigt</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Vorname" formControlName="firstName"
                                name="shippingDataFirstName" [readonly]="useBillingAddress.checked">
                            <mat-error *ngIf="shippingDataFormGroup.controls['firstName'].hasError('required')">
                                Vorname wird <strong>benötigt</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Nachname" formControlName="lastName"
                                name="shippingDataLastName" [readonly]="useBillingAddress.checked">
                            <mat-error *ngIf="shippingDataFormGroup.controls['lastName'].hasError('required')">
                                Nachname wird <strong>benötigt</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Straße" formControlName="streetName"
                                name="shippingDataStreetName" [readonly]="useBillingAddress.checked">
                            <mat-error *ngIf="shippingDataFormGroup.controls['streetName'].hasError('required')">
                                Straße wird <strong>benötigt</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Nr." formControlName="streetNumber"
                                name="shippingDataStreetNumber" [readonly]="useBillingAddress.checked">
                            <mat-error *ngIf="shippingDataFormGroup.controls['streetNumber'].hasError('required')">
                                Straßenummer wird <strong>benötigt</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <mat-form-field class="full-width">
                            <input matInput #postalCode maxlength="5" placeholder="Postleitzahl" type="number"
                                formControlName="postalCode" name="shippingDataPostalCode" class="postalCodeInput"
                                [readonly]="useBillingAddress.checked">
                            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                            <mat-error *ngIf="shippingDataFormGroup.controls['postalCode'].hasError('required')">
                                PLZ wird <strong>benötigt</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-9">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Stadt" formControlName="city" name="shippingDataCity"
                                [readonly]="useBillingAddress.checked">
                            <mat-error *ngIf="shippingDataFormGroup.controls['city'].hasError('required')">
                                Stadt wird <strong>benötigt</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions class="cardActions">
            <button mat-raised-button (click)="goBack()" color="accent">Zurück</button>
            <button mat-raised-button (click)="goForward()" color="primary" type="submit">Weiter</button>
        </mat-card-actions>
    </mat-card>
</form>