<form [formGroup]="billingAddressFormGroup" class="stepContent" novalidate>
    <mat-card class="billing-address-card">
        <mat-card-header>
            <mat-card-title>Rechnungsaddresse</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <div class="col-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Anrede" formControlName="salutation"
                            name="billingAddressSalutation">
                        <mat-error *ngIf="billingAddressFormGroup.controls['salutation'].hasError('required')">
                            Anrede wird <strong>benötigt</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Vorname" formControlName="firstName"
                            name="billingAddressFirstName">
                        <mat-error *ngIf="billingAddressFormGroup.controls['firstName'].hasError('required')">
                            Vorname wird <strong>benötigt</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Nachname" formControlName="lastName" name="billingAddressLastName">
                        <mat-error *ngIf="billingAddressFormGroup.controls['lastName'].hasError('required')">
                            Nachname wird <strong>benötigt</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Straße" formControlName="streetName"
                            name="billingAddressStreetName">
                        <mat-error *ngIf="billingAddressFormGroup.controls['streetName'].hasError('required')">
                            Straße wird <strong>benötigt</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Nr." formControlName="streetNumber" name="billingAddressStreetNumber">
                        <mat-error *ngIf="billingAddressFormGroup.controls['streetNumber'].hasError('required')">
                            Straßenummer wird <strong>benötigt</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <mat-form-field class="full-width">
                        <input matInput #postalCode maxlength="5" placeholder="Postleitzahl" type="number"
                            formControlName="postalCode" name="billingAddressPostalCode" class="postalCodeInput">
                        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                        <mat-error *ngIf="billingAddressFormGroup.controls['postalCode'].hasError('required')">
                            PLZ wird <strong>benötigt</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-9">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Stadt" formControlName="city" name="billingAddressCity">
                        <mat-error *ngIf="billingAddressFormGroup.controls['city'].hasError('required')">
                            Stadt wird <strong>benötigt</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="E-Mail" type="email" formControlName="email"
                            name="billingAddressEmail" class="emailInput">
                        <mat-error *ngIf="billingAddressFormGroup.controls['email'].hasError('required')">
                            E-Mail wird <strong>benötigt</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions class="cardActions">
            <button mat-raised-button (click)="goBack()" color="accent">Zurück</button>
            <button mat-raised-button (click)="goForward()" color="primary">Weiter</button>
        </mat-card-actions>
    </mat-card>
</form>