<form [formGroup]="paymentDataFormGroup" class="stepContent" novalidate>
    <mat-card class="payment-data-card">
        <mat-card-header>
            <mat-card-title>Zahlungsdaten</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-radio-group formControlName="paymentOptions" class="paymentOptionContainer">
                <mat-radio-button value="Rechnung">Rechnung</mat-radio-button>
                <mat-radio-button  value="Überweisung">Überweisung</mat-radio-button>
                <mat-radio-button  value="PayPal">PayPal</mat-radio-button>
                <mat-radio-button  value="Kreditkarte">Kreditkarte</mat-radio-button>
            </mat-radio-group>              
        </mat-card-content>

        <mat-card-actions class="cardActions">
            <button mat-raised-button (click)="goBack()" color="accent">Zurück</button>
            <button mat-raised-button (click)="goForward()" color="primary" type="submit">Weiter</button>
        </mat-card-actions>
    </mat-card>
</form>